@model LiteCommerce.DomainModels.Product
@{
}

<div class="box box-primary">
    <form role="form" action="~/Product/Input" method="post" enctype="multipart/form-data">
        <div class="box-header text-right">
            <a href="~/Product">Back to List</a>
        </div>
        <div class="box-body">
            <input type="hidden" name="ProductID" value="@Model.ProductID" />
            <div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <img src="~/Uploads/Images/@Model.PhotoPath" height="100px" width="100px" class="img-circle" alt="Product Image">
                        <input type="file" name="uploadFile" />
                    </div>
                    <div class="col-sm-9">
                        <label>Product Name: @Html.ValidationMessage("ProductName")</label>
                        <input type="text" class="form-control" placeholder="Enter Product Name" name="ProductName" value="@Model.ProductName">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Supplier: @Html.ValidationMessage("SupplierID")</label>
                        <select class="form-control" name="SupplierID">
                            <option value="0">--Choose Supplier--</option>
                            @{
                                foreach (var supplier in SelectListHelper.Suppliers())
                                {
                                    if (Model.SupplierID == Convert.ToInt32(supplier.Value))
                                    {
                                        <option selected value="@supplier.Value">@supplier.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@supplier.Value">@supplier.Text</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Category: @Html.ValidationMessage("CategoryID")</label>
                        <select class="form-control" name="CategoryID">
                            <option value="0">--Choose Category--</option>
                            @{
                                foreach (var category in SelectListHelper.Categories())
                                {
                                    if (Model.CategoryID == Convert.ToInt32(category.Value))
                                    {
                                        <option selected value="@category.Value">@category.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@category.Value">@category.Text</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Quantity Per Unit: @Html.ValidationMessage("QuantityPerUnit")</label>
                        <input type="text" class="form-control" placeholder="Quantity Per Unit" name="QuantityPerUnit" value="@Model.QuantityPerUnit">
                    </div>
                    <div class="col-sm-6">
                        <label>Unit Price: @Html.ValidationMessage("UnitPrice")</label>
                        <input type="text" class="form-control" placeholder="Unit Price" name="UnitPrice" value="@Model.UnitPrice">
                    </div>
                </div>
                <div class="form-group">
                    <label>Description (Optional):</label>
                    <textarea type="text" class="form-control" name="Description" rows="5">@Model.Description</textarea>
                </div>
            </div>

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Attributes (Optional)</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                    <div class="form-group row">
                        @{
                            List<LiteCommerce.DomainModels.ProductAttribute> attributes = SelectListHelper.Attributes(Model.ProductID);
                            for (int i = 0; i < attributes.Count; i++)
                            {
                                LiteCommerce.DomainModels.ProductAttribute att = attributes.ElementAt(i);
                                if (att.AttributeName == "Origin")
                                {
                                    <div class="col-sm-6">
                                        <label>@att.AttributeName:</label>
                                        <select class="form-control" name="attributes">
                                            <option value="">-- Choose Country --</option>
                                            @foreach (var country in SelectListHelper.Countries())
                                            {
                                                if (att.AttributeValues == country.Value || att.AttributeValues == country.Text)
                                                {
                                                    <option selected value="@country.Value">@country.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@country.Value">@country.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-6">
                                        <label>@att.AttributeName:</label>
                                        <input name="attributes" type="text" class="form-control" value="@att.AttributeValues" />
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Product">
                Cancel
            </a>
        </div>
    </form>
</div>
